{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/static/logo191.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Meghdoot CMP Dashboard" />

    <link rel="apple-touch-icon" href="/static/logo191.png" />
    <link rel="manifest" href="/static/manifest.json" />

    <title>Meghdoot CMP</title>
    <script type="module" crossorigin src="/static/assets/index-BnVBKjs9.js"></script>
    <link rel="stylesheet" crossorigin href="/static/assets/index-CYlGiPof.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>

